{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}
    <style>
        #progress_bar {
            background-color: var(--content-border-colour);
        }
        .flashcard {
            --flip-card-height: 350px;
            --flip-card-transition-duration: 600ms;
            --flip-card-border-radius: 1px;
            --flip-card-box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
                0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
            margin: 1em 0;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }
        .flashcard-details {
            height: calc(var(--flip-card-height) - 1.5em);
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0.75em;
            font-weight: bold;
            font-size: calc(2vw + 1em);
        }
    </style>
{% endblock %}

{% block main %}
    {% for word_or_sentence in words_and_sentences %}   
        <div class="flashcard-div{% if not forloop.first %} d-none{% endif %}" data-index="{{ forloop.counter }}">
            <div class="text-end">Card {{ forloop.counter }}/{{ words_and_sentences|length }}</div>
            <flip-card class="flashcard" variant="click" style="{% if starting_side == 'jyutping' %}--flip-card-background-color-front: {{ word_or_sentence.topic.colour }}; --flip-card-background-color-back: #000; {% else %}--flip-card-background-color-front: #000; --flip-card-background-color-back: {{ word_or_sentence.topic.colour }};{% endif %}">
                <div class="flashcard-details" slot="{% if starting_side == 'jyutping' %}front{% else %}back{% endif %}">
                    <span>
                        {{ word_or_sentence.cantonese_and_jyutping }}
                        {% if word_or_sentence.audio_file and starting_side == 'jyutping' %}
                            {% include "wordsandsentences/audio.html" with audio_url=word_or_sentence.audio_file.url %}
                        {% endif %}
                    </span>
                    {% if word_or_sentence.notes %}
                        <span class="fst-italic fw-normal">{{ word_or_sentence.notes }}</span>
                    {% endif %}
                </div>
                <div class="flashcard-details" slot="{% if starting_side == 'jyutping' %}back{% else %}front{% endif %}" style="color: {{ word_or_sentence.topic.colour }};">
                    <span>{{ word_or_sentence.english }}</span>
                    {% if word_or_sentence.notes and starting_side == 'jyutping' %}
                        <span class="fst-italic fw-normal">{{ word_or_sentence.notes }}</span>
                    {% endif %}
                </div>
            </flip-card>
        </div>
    {% endfor %}
    <div class="btn-group w-100">
        <button id="btn_previous" class="btn btn-primary w-100 mb-3" disabled>&#x2190; Previous</button>
        <button id="btn_next" class="btn btn-primary w-100 mb-3"{% if words_and_sentences|length == 1 %} disabled{% endif %}>Next &#x2192;</button>
    </div>

    <div class="progress">
        <div class="progress-bar" id="progress_bar" style="width: 0%"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'wordsandsentences/flip_card.js' %}"></script>
    <script>
        let questonCount = parseInt("{{ words_and_sentences|length }}")

        $("#btn_previous").click(function() {
            const currentFashcardDiv = $(".flashcard-div").not(".d-none")
            const previousFashcardDiv = currentFashcardDiv.prev(".flashcard-div")
            if (previousFashcardDiv.length) {
                changeFlashcard(currentFashcardDiv, previousFashcardDiv)
            }
        });

        $("#btn_next").click(function() {
            const currentFashcardDiv = $(".flashcard-div").not(".d-none")
            const nextFashcardDiv = currentFashcardDiv.next(".flashcard-div")
            if (nextFashcardDiv.length) {
                changeFlashcard(currentFashcardDiv, nextFashcardDiv)
            }
        });

        function changeFlashcard(oldFlashcardDiv, newFlashcardDiv) {
            oldFlashcardDiv.addClass("d-none")
            newFlashcardDiv.removeClass("d-none")
            $("#btn_previous").prop("disabled", !newFlashcardDiv.prev(".flashcard-div").length)
            $("#btn_next").prop("disabled", !newFlashcardDiv.next(".flashcard-div").length)
            updateProgressBar(parseInt(newFlashcardDiv.data("index")))
        }

        function updateProgressBar(flashcardIndex) {
            completePercentage = flashcardIndex * 100 / questonCount
            $("#progress_bar").css("width", `${completePercentage}%`)
        }

        updateProgressBar(1)

        $(document).on('keyup', function(e) {
            const previousButton = $("#btn_previous")
            const nextButton = $("#btn_next")
            if (e.keyCode == 13 || e.keyCode == 32) {
                if (e.shiftKey) {
                    programmaticallyPressButton(previousButton)
                }
                else {
                    programmaticallyPressButton(nextButton)
                }
            }
            else if (e.keyCode == 37 || e.keyCode == 65) {
                programmaticallyPressButton(previousButton)
            }
            else if (e.keyCode == 39 || e.keyCode == 68) {
                programmaticallyPressButton(nextButton)
            }
        });

        function programmaticallyPressButton(button) {
            if (!button.prop("disabled")) {
                button.click()
            }
        }

        $(window).on('beforeunload', function(){
            return 'Are you sure you want to leave?';
        });
    </script>
{% endblock %}
