{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="info-box">
        Please upload one (or both of the following things):
        <ul>
            <li>A CSV file containing the following headings: topic, jyutping, english, notes, is_sentence (yes/no).</li>
            <li>A number of audio file fields that have file names exactly matching jyutping words either already in the database or in the CSV file.</li>
        </ul>
    </div>
    {% if import_error %}
        <div class="alert alert-danger">{{ import_error }}</div>
    {% endif %}
    <form id="import_form" method="post" enctype="multipart/form-data">
        {% crispy form %}
    </form>
{% endblock %}
