{% extends "base.html" %}

{% block main %}
    <a href="{% url 'edit_list' %}" class="btn btn-secondary w-100 mb-1">Edit words and sentences</a>
    <a href="{% url 'import' %}" class="btn btn-secondary w-100 mb-1">Import words and sentences</a>
    {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="btn btn-danger w-100 mb-1">Django admin</a>
    {% endif %}

    <div class="accordion" id="words_accordion">
        {% for topic, words_and_sentences in topic_dict.items %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ topic.pk }}" aria-expanded="true" aria-controls="collapse_{{ topic.pk }}">
                        {{ topic.topic_name}}
                    </button>
                </h2>
                <div id="collapse_{{ topic.pk }}" class="accordion-collapse collapse hide" data-bs-parent="#words_accordion">
                    <div class="accordion-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Jyutping</th>
                                    <th>English</th>
                                    <th>Notes</th>
                                    <th>Listen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for word in words_and_sentences.words %}
                                    <tr>
                                        <td>{{ word.jyutping }}</td>
                                        <td>{{ word.english }}</td>
                                        <td>{% if word.notes %}{{ word.notes }}{% else %}-{% endif %}</td>
                                        <td>
                                            {% if word.audio_file %}
                                                {% include "wordsandsentences/audio.html" with object=word %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
