{% extends "base.html" %}

{% block styles %}
    <style>
        td.searched {
            background-color: var(--content-bg-colour);

        }
        td.searched-scrolled {
            background-color: var(--content-border-colour);
        }
    </style>
{% endblock %}

{% block main %}
    <a href="{% url 'quiz' %}" class="btn btn-primary w-100 mb-1">Start quiz</a>
    {% if request.user.is_staff %}
        <a href="{% url 'edit_list' %}" class="btn btn-secondary w-100 mb-1">Edit words and sentences</a>
        <a href="{% url 'import' %}" class="btn btn-secondary w-100 mb-1">Import words and sentences</a>
    {% endif %}
    {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="btn btn-danger w-100 mb-1">Django admin</a>
    {% endif %}

    <input type="text" id="searchBox" class="form-control sticky-top mt-2" placeholder="Search for a word or sentence and press enter" autofocus></input>

    <div class="accordion" id="words_accordion">
        {% for topic, words_and_sentences in topic_dict.items %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ topic.pk }}" aria-expanded="true" aria-controls="collapse_{{ topic.pk }}">
                        {{ topic.topic_name|capfirst }}
                    </button>
                </h2>
                <div id="collapse_{{ topic.pk }}" class="accordion-collapse collapse" data-bs-parent="#words_accordion">
                    <div class="accordion-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Jyutping</th>
                                    <th>English</th>
                                    <th>Notes</th>
                                    <th>Listen</th>
                                    <th class="d-none d-lg-table-cell">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for word in words_and_sentences.words %}
                                    <tr>
                                        <td data-searchable="{{ word.jyutping|lower }}">{{ word.jyutping }}</td>
                                        <td data-searchable="{{ word.english|lower }}">{{ word.english }}</td>
                                        <td>{% if word.notes %}{{ word.notes }}{% else %}-{% endif %}</td>
                                        <td>
                                            {% if word.audio_file %}
                                                {% include "wordsandsentences/audio.html" with audio_url=word.audio_file.url %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="d-none d-lg-table-cell"><a href="{% url 'word_update' pk=word.pk %}" style="text-decoration: none;">&#9998;</a></td>
                                    </tr>
                                {% endfor %}
                                {% for sentence in words_and_sentences.sentences %}
                                    <tr>
                                        <td data-searchable="{{ sentence.jyutping|lower }}">{{ sentence.jyutping }}</td>
                                        <td data-searchable="{{ sentence.english|lower }}">{{ sentence.english }}</td>
                                        <td>{% if sentence.notes %}{{ sentence.notes }}{% else %}-{% endif %}</td>
                                        <td>-</td>
                                        <td class="d-none d-lg-table-cell"><a href="{% url 'sentence_update' pk=sentence.pk %}" style="text-decoration: none;">&#9998;</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        matchingItems = []
        searchIndex = -1
        lastSearchedText = ""

        $("#searchBox").keyup(function(e) {
            const searchBox = $(this)
            const searchText = $(this).val().toLowerCase()
            if (e.which == 13 && searchText.length) {
                if (searchText != lastSearchedText) {
                    $("#words_accordion td").removeClass("searched").removeClass("searched-scrolled")
                    matchingItems = $(`#words_accordion td[data-searchable*='${searchText}']`)
                    matchingItems.addClass("searched")
                    searchIndex = -1
                    lastSearchedText = searchText
                }
                if (matchingItems.length) {
                    scrollToSearch()
                }
            }
        });

        function scrollToSearch() {
            searchIndex++
            if (searchIndex >= matchingItems.length) {
                searchIndex = 0
            }
            $("#words_accordion td").removeClass("searched-scrolled")
            const scrollToItem = matchingItems[searchIndex]
            $(scrollToItem).addClass("searched-scrolled")
            const scrollToAccordion = $(scrollToItem).closest(".accordion-collapse")
            if (!scrollToAccordion.hasClass("show")) {
                $(".accordion-collapse").removeClass("show")
                scrollToAccordion.addClass("show")
            }
            scrollToItem.scrollIntoView({block: 'center'})
        }
    </script>
{% endblock %}