{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block styles %}
    <style>
        .option-button {
            margin: 0.2em;
            padding: 0.5em;
            text-align: center;
            border: 1px solid #333333;
        }
        .ordering-option-button {
            margin: 0 0.1em;
            padding: 0.1em 0.4em;
            text-align: center;
            border: 1px solid #333333;
            border-radius: 0.2rem;
        }
        .ordering-div {
            margin: 0.1em 0;
            padding: 0;
            line-height: 1.9rem;
        }
        .ordering-unused-options-div > .ordering-option-button {
            background-color: #00000010;
        }
        .ordering-used-options-div > .ordering-option-button {
            background-color: #81dd0930;
        }
        .ordering-answer-div > .ordering-option-button {
            background-color: #23cc21;
        }
        .option-button:not(.disabled), .ordering-option-button:not(.disabled) {
            cursor: pointer;
        }
        .option-button.selected {
            background-color: var(--content-bg-colour);
        }
        .option-button.correct, .ordering-option-button.correct, .answer-text.correct, #progress_bar_correct {
            background-color: #23cc21;
        }
        .option-button.incorrect, .ordering-option-button.incorrect, .answer-text.incorrect, #progress_bar_incorrect {
            background-color: #cc2121;
        }
    </style>
{% endblock %}

{% block main %}
    {% for question in questions %}
        <div class="question-div{% if not forloop.first %} d-none{% endif %}">
            <div class="row mb-1">
                <div class="col-12 col-md-6 col-lg-8 col-xl-10 order-2 order-md-1">
                    <h5>
                        {{ question.question_text }}
                        {% if question.question_audio_url %}
                            {% include "wordsandsentences/audio.html" with audio_url=question.question_audio_url %}
                        {% endif %}
                    </h5>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2 order-1 order-md-2 text-start text-md-end">Question {{ forloop.counter }}/{{ questions|length }}</div>    
            </div>
            <div class="row mb-2 m-0">
                {% if question.ordering_options %}
                    <div class="ordering-div ordering-unused-options-div">
                        {% for ordering_option in question.ordering_options %}
                            <div class="ordering-option-button d-inline">
                                <span class="ordering-option-text">{{ ordering_option }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ordering-div ordering-used-options-div{% if question.include_question_mark %} has-question-mark{% endif %}"></div>
                    <div class="ordering-div ordering-answer-div d-none">
                        {% for correct_character in question.correct %}
                            <div class="ordering-option-button d-inline">
                                <span class="ordering-option-text">{{ correct_character }}</span>
                            </div>
                        {% endfor %}
                        {% if question.include_question_mark %}?{% endif %}
                    </div>
                {% elif question.options %}
                    {% for option in question.options %}
                        <div class="col-12 col-md-6 p-0">
                            <div class="option-button" data-correct="{% if option.text == question.correct %}true{% else %}false{% endif %}">
                                <span class="option-text{% if option.hide_text %} d-none{% endif %}">{{ option.text }}{% if option.cantonese %} ({{ option.cantonese }}){% endif %}</span>
                                {% if option.audio_url %}
                                    {% include "wordsandsentences/audio.html" with audio_url=option.audio_url %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <input type="text" class="answer-text form-control" {% if forloop.first %} autofocus{% endif %}></input>
                    {% for correct in question.correct %}
                        <label class="d-none correct-answer-label my-1 fw-bold" style="color: #198217">{{ correct }}</label>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <button id="btn_next" class="btn btn-primary w-100 mb-3" disabled>Next &#x2192;</button>
    <div id="div_results" class="info-box d-none mb-3"></div>

    <div class="progress">
        <div class="progress-bar" id="progress_bar_correct" style="width: 0%"></div>
        <div class="progress-bar" id="progress_bar_incorrect" style="width: 0%"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let questonCount = parseInt("{{ questions|length }}")
        let correctAnswersCount = 0
        let incorrectAnswersCount = 0

        $(".option-button").click(function() {
            if ($(this).hasClass("disabled")) {
                return
            }
            const previouslySelected = $(this).hasClass("selected")
            if (!previouslySelected) {
                $(this).closest(".question-div").find(".option-button").removeClass("selected")
            }
            $(this).toggleClass("selected")
            $("#btn_next").prop("disabled", previouslySelected)
        });

        $(document).on("click", ".ordering-unused-options-div .ordering-option-button", function () {
            if ($(this).hasClass("disabled")) {
                return
            }
            const currentQuestionDiv = $(".question-div").not(".d-none")
            $(this).appendTo(currentQuestionDiv.find(".ordering-used-options-div"))
            orderingChanged(currentQuestionDiv)
        });

        $(document).on("click", ".ordering-used-options-div .ordering-option-button", function () {
            if ($(this).hasClass("disabled")) {
                return
            }
            const currentQuestionDiv = $(".question-div").not(".d-none")
            $(this).appendTo(currentQuestionDiv.find(".ordering-unused-options-div"))
            orderingChanged(currentQuestionDiv)
        });

        function orderingChanged(currentQuestionDiv) {
            const allReordered = currentQuestionDiv.find(".ordering-unused-options-div .ordering-option-button").length == 0
            $("#btn_next").prop("disabled", !allReordered)
            const questionMarkDiv = currentQuestionDiv.find(".ordering-used-options-div.has-question-mark")
            if (questionMarkDiv.length) {
                if (allReordered) {
                    questionMarkDiv.append("<span class='question-mark'>?</span>")
                }
                else {
                    questionMarkDiv.find(".question-mark").remove()
                }
            }
        }

        $(".answer-text").on("input", function() {
            const answerText = $(this)
            const userInput = answerText.val()
            $("#btn_next").prop("disabled", userInput.length == 0)
        })

        $("#btn_next").click(function() {
            const nextButton = $(this)
            const currentQuestionDiv = $(".question-div").not(".d-none")
            const selectedOption = currentQuestionDiv.find(".option-button.selected")
            const enabledAnswerText = currentQuestionDiv.find(".answer-text:not(:disabled)")
            const usedOrderingOptionButtons = currentQuestionDiv.find(".ordering-used-options-div .ordering-option-button:not(.disabled)")
            if (selectedOption.length) {
                currentQuestionDiv.find(".option-button").addClass("disabled")
                selectedOption.removeClass("selected")
                currentQuestionDiv.find(".option-text").removeClass("d-none")
                if (selectedOption.data("correct") == true) {
                    selectedOption.addClass("correct")
                    correctAnswersCount++
                }
                else {
                    selectedOption.addClass("incorrect")
                    currentQuestionDiv.find(".option-button[data-correct=true]").addClass("correct")
                    incorrectAnswersCount++
                }
                updateProgressBar()
            }
            else if (usedOrderingOptionButtons.length) {
                currentQuestionDiv.find(".ordering-option-button").addClass("disabled")
                usedOrderingOptionTexts = []
                usedOrderingOptionButtons.find(".ordering-option-text").each(function() {usedOrderingOptionTexts.push($(this).text())})
                correctOrderingOptionTexts = []
                currentQuestionDiv.find(".ordering-answer-div .ordering-option-text").each(function() {correctOrderingOptionTexts.push($(this).text())})
                if (JSON.stringify(usedOrderingOptionTexts) == JSON.stringify(correctOrderingOptionTexts)) {
                    usedOrderingOptionButtons.addClass("correct")
                    correctAnswersCount++
                }
                else {
                    usedOrderingOptionButtons.addClass("incorrect")
                    currentQuestionDiv.find(".ordering-answer-div").removeClass("d-none")
                    incorrectAnswersCount++
                }
                updateProgressBar()
            }
            else if (enabledAnswerText.length) {
                enabledAnswerText.prop("disabled", true)
                const enteredText = enabledAnswerText.val().toLowerCase().replaceAll("?", "")
                const correctAnswerLabels = currentQuestionDiv.find(".correct-answer-label")
                let answerFound = false
                correctAnswerLabels.each(function () {
                    if (enteredText == $(this).text().toLowerCase().replaceAll("?", "")) {
                        enabledAnswerText.addClass("correct")
                        correctAnswersCount++
                        answerFound = true
                    }
                })
                if (!answerFound) {
                    enabledAnswerText.addClass("incorrect")
                    correctAnswerLabels.removeClass("d-none")
                    incorrectAnswersCount++
                }
                updateProgressBar()
            }
            else {
                currentQuestionDiv.addClass("d-none")
                const nextQuestionDiv = currentQuestionDiv.next(".question-div")
                if (nextQuestionDiv.length) {
                    nextQuestionDiv.removeClass("d-none")
                    nextButton.prop("disabled", true)
                    nextQuestionDiv.find(".answer-text").focus()
                }
                else {
                    nextButton.addClass("d-none")
                    $("#div_results").removeClass("d-none").html(`You got ${correctAnswersCount} out of {{ questions|length }} questions correct!`)
                }
            }
        });

        $(document).on('keyup', function(e) {
            const nextButton = $("#btn_next")
            if (e.keyCode == 13 && !nextButton.prop("disabled")) {
                nextButton.click()
            }
        });

        $(window).on('beforeunload', function(){
            if ($(".question-div").not(".d-none").length) {
                return 'Are you sure you want to leave?';
            }
        });

        function updateProgressBar() {
            correctPercentage = correctAnswersCount * 100 / questonCount
            incorrectPercentage = incorrectAnswersCount * 100 / questonCount
            $("#progress_bar_correct").css("width", `${correctPercentage}%`)
            $("#progress_bar_incorrect").css("width", `${incorrectPercentage}%`)
        }
    </script>
{% endblock %}
